<!DOCTYPE html>
<html>
<title>What's for Dinner?</title>




  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>
  <body >
    <h1>Pattern Verification</h1>
    <h2>Calories Verification: </h2>

    <h3>This graph shows how many recipes fall in the caloric range for each of the {{pickedCuisine}} recipes that exist in the database.</h3>
    <h3>      Our Rules for Calories are the follows:
</h3>
    <h4 style="color:blue;">

1. All caloric counts between (200-1000),
Special Cases:
2. British between (400-600),
3. Cajun between (700-1000),
4. Chinese between (500-700),
5. French between (400-700),
6. Mexican, Italian, Indian, Jamaican between (500-1000),
7. Japanese between (200-400),
8. Rest between (200-500) </h4>

<h3 style="color:green;">As you can see below, all our caloric data for recipes which are {{pickedCuisine}} follows the pattern specified above! This is illustrated by the frequency bar chart showing how many recipes per segment!</h3>
<h3 style="color: orange">Scroll down to see the pattern in Protein counts for {{pickedCuisine}} recipes!</h3>
    <div class="ct-chart ct-golden-section" id="caloriesbar"></div>
    <script>
    var data = {
      labels: ['0-100','101-200','201-300','301-400','401-500','501-600','601-700','701-800','801-900','900-1000'],
      series:[[{{cal0100}}, {{cal101200}}, {{cal201300}}, {{cal301400}}, {{cal401500}}, {{cal501600}}, {{cal601700}}, {{cal701800}}, {{cal801900}}, {{cal9011000}}]
    ]
  };
  var options = {
  width: 600,
  height: 400
  };
  var myChart2 = new Chartist.Bar('#caloriesbar', data, options);
  </script>



  <h2>Protein Verification: </h2>

  <h3>This graph shows how many recipes fall in the protein range for each of the {{pickedCuisine}} recipes that exist in the database.</h3>
  <h3>      Our Rules for Calories are the follows:
</h3>

  <h4 style="color:blue;">
1. All protein count between (5-35),
Special Cases:
2. South US, Mexican, Italian between (20-30),
3. Cajun between (20-35),
4. Special cases: boneless chicken 20, beef 40, milk 18 <h4>
<h3 style="color:green;">As you can see below, all our protein data for recipes which are {{pickedCuisine}} follows the pattern specified above! This is illustrated by the frequency bar chart showing how many recipes per segment!</h3>

    </p>
    <div class="ct-chart ct-golden-section" id="proteinsbar"></div>
    <script>
    var data = {
      labels: ['0-5','6-10','11-15','16-19','20-25','26-30','31-35','36-40'],
      series:[[{{prot05}}, {{prot610}}, {{prot1115}}, {{prot1620}}, {{prot2125}}, {{prot2630}}, {{prot3135}}, {{prot3640}}]
    ]
  };
  var options = {
  width: 600,
  height: 400
  };
  var myChart2 = new Chartist.Bar('#proteinsbar', data, options);
  </script>
</body>
</html>
